{% extends "layout.html" %}
{% block content %}
  <h2>About us</h2>
  <p>
    With the outbreak of various chronic diseases like high blood pressure, athritis and diabetes, people are struggling
    to find suitable meal options that could help manage their conditions, especially those living with diabetes.
    We realized there is a tremendous need for a resource that provides delicious meal ideas and that maintaining a 
    balanced diet was crucial for managing the condition.
    
    Determined to make a difference, we felt that creating a website dedicated to diabetic-friendly meals for the
    ALX portfolio project will be a perfect start. Our interest in this amazing vision compelled us to brainstorm ideas
    and pour our hearts into building a comprehensive platform called "Diabetics Meal Companion".
    
    Diabetics Meal Companion as the name implies, is designed to be a one-stop hub where people with diabetes could find a
    vast collection of mouthwatering recipes, expertly crafted by Us. The website incorporates various features including
    nutritional information, meal planning tools, and interactive forums where users could share their experiences and
    support one another.
    
    We know that catering to various dietary needs and taste preferences is essential. We ensured that our website offers
    a wide range of meal options, accommodating different African cuisines, dietary restrictions, and personal preferences.
    Every recipe was carefully crafted to strike a balance between taste and nutrition, using wholesome ingredients that
    are accessible to everyone.
    
    We hope that the success of Diabetics Meal Companion will in the nearest future, catch the attention of medical
    professionals and organizations specializing in diabetes care. We hope our website's potential to improve the 
    lives of millions around the world with diabetic-friendly diets will not only be recognised but also become a beacon
    of hope for anyone seeking guidance and inspiration on their diabetic journey.
  </p>
  <h4>Our Team</h4>
  <img src="{{url_for ('static', filename='images/Imade.jpg')}}" alt="">
  <p>Imade</p>
  <img src="{{url_for ('static', filename='images/My-photo.jpg')}}" alt="">
  <p>Ijeoma</p>
{% endblock content %}