Some default styles
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}

/* Header styles
header {
  background-color: #333;
  height: 8vh;
  color: cyan;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.heads {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heads h1 {
  font-size: 18px;
}

/* Nav bar */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(7, 128, 128);
  border-radius: 8px;
  padding: 3px 20px;
  font-size: 15px;
} */

/* Hero section styles */
#hero {
  background-size: cover;
  color: rgb(4, 78, 78);
  text-align: center;
}

#hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bolder;
}

#hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.container {
  max-width: 960px;
  height: auto;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  opacity: 80%;
}

#featured-recipes h2 {
  margin-bottom: 20px;
}

div.store {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
}

div.recipe-card img {
  max-width: 300px;
  max-height: 300px;
}